## Preparação de Dados

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/datasets/car_data.csv')
df.sample(10)

,DateCrawled,Price,VehicleType,RegistrationYear,Gearbox,Power,Model,Mileage,RegistrationMonth,FuelType,Brand,NotRepaired,DateCreated,NumberOfPictures,PostalCode,LastSeen
137887,14/03/2016 16:45,6700,small,2009,manual,60,other,20000,5,petrol,fiat,no,14/03/2016 00:00,0,83022,23/03/2016 16:49
248079,11/03/2016 15:56,10900,wagon,2011,manual,120,other,125000,3,gasoline,fiat,no,11/03/2016 00:00,0,41516,05/04/2016 12:47
30997,05/03/2016 14:19,950,small,1999,manual,75,clio,150000,12,petrol,renault,NaN,04/03/2016 00:00,0,56283,08/03/2016 06:15
64797,25/03/2016 12:46,2700,sedan,2006,manual,110,4_reihe,150000,1,gasoline,peugeot,no,25/03/2016 00:00,0,29348,06/04/2016 13:45
59821,25/03/2016 13:42,650,NaN,1990,manual,0,601,40000,5,petrol,trabant,NaN,25/03/2016 00:00,0,9569,28/03/2016 12:45
134183,26/03/2016 16:50,14200,wagon,2008,auto,170,a3,125000,10,gasoline,audi,no,26/03/2016 00:00,0,84347,04/04/2016 04:18
71971,26/03/2016 00:58,17500,sedan,2010,auto,272,c_klasse,150000,5,petrol,mercedes_benz,no,25/03/2016 00:00,0,78669,05/04/2016 18:16
61754,03/04/2016 20:38,3000,sedan,1997,manual,75,astra,30000,3,petrol,opel,no,03/04/2016 00:00,0,73084,05/04/2016 21:16
339002,31/03/2016 20:56,3300,convertible,1998,manual,136,slk,150000,10,petrol,mercedes_benz,no,31/03/2016 00:00,0,24159,06/04/2016 16:45
23015,02/04/2016 15:36,2200,coupe,2002,manual,192,c_klasse,150000,8,petrol,mercedes_benz,yes,02/04/2016 00:00,0,45663,02/04/2016 15:36

In [3]:
df.describe()

,Price,RegistrationYear,Power,Mileage,RegistrationMonth,NumberOfPictures,PostalCode
count,354369.000000,354369.000000,354369.000000,354369.000000,354369.000000,354369.0,354369.000000
mean,4416.656776,2004.234448,110.094337,128211.172535,5.714645,0.0,50508.689087
std,4514.158514,90.227958,189.850405,37905.341530,3.726421,0.0,25783.096248
min,0.000000,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,1050.000000,1999.000000,69.000000,125000.000000,3.000000,0.0,30165.000000
50%,2700.000000,2003.000000,105.000000,150000.000000,6.000000,0.0,49413.000000
75%,6400.000000,2008.000000,143.000000,150000.000000,9.000000,0.0,71083.000000
max,20000.000000,9999.000000,20000.000000,150000.000000,12.000000,0.0,99998.000000

Em uma análise rápida, conseguimos ver que existem dados estranhos como veículos com preço igual a 0 (zero), ano de registro como 1000, Power igual a 0 (zero), e mês de registro igual a 0 (zero). Além disso nenhum veículo possui fotos, ou seja, podemos excluir essa coluna do df pois não irá interferir no estudo.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354369 entries, 0 to 354368
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DateCrawled        354369 non-null  object
 1   Price              354369 non-null  int64
 2   VehicleType        316879 non-null  object
 3   RegistrationYear   354369 non-null  int64
 4   Gearbox            334536 non-null  object
 5   Power              354369 non-null  int64
 6   Model              334664 non-null  object
 7   Mileage            354369 non-null  int64
 8   RegistrationMonth  354369 non-null  int64
 9   FuelType           321474 non-null  object
 10  Brand              354369 non-null  object
 11  NotRepaired        283215 non-null  object
 12  DateCreated        354369 non-null  object
 13  NumberOfPictures   354369 non-null  int64
 14  PostalCode         354369 non-null  int64
 15  LastSeen           354369 non-null  object
dtypes: int64(7), object(9)
memory usage: 43.3+ MB

Existem dados ausentes nas colunas VehicleType, Gearbox, Model, FuelType e NotRepaired. Vamos verificar cada uma das colunas para poder ver o melhor curso de ação em cada caso.

### Coluna NumberOfPictures

In [5]:
# Verificando todos os dados da coluna
df['NumberOfPictures'].unique()

array([0])

In [6]:
# Retirando a coluna do df
df = df.drop('NumberOfPictures', axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354369 entries, 0 to 354368
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DateCrawled        354369 non-null  object
 1   Price              354369 non-null  int64
 2   VehicleType        316879 non-null  object
 3   RegistrationYear   354369 non-null  int64
 4   Gearbox            334536 non-null  object
 5   Power              354369 non-null  int64
 6   Model              334664 non-null  object
 7   Mileage            354369 non-null  int64
 8   RegistrationMonth  354369 non-null  int64
 9   FuelType           321474 non-null  object
 10  Brand              354369 non-null  object
 11  NotRepaired        283215 non-null  object
 12  DateCreated        354369 non-null  object
 13  PostalCode         354369 non-null  int64
 14  LastSeen           354369 non-null  object
dtypes: int64(6), object(9)
memory usage: 40.6+ MB

### Coluna VehicleType

In [7]:
df['VehicleType'].unique()

array([nan, 'coupe', 'suv', 'small', 'sedan', 'convertible', 'bus',
       'wagon', 'other'], dtype=object)

In [8]:
df['VehicleType'].isna().sum()/len(df)

0.1057936783409384

Cerca de 10% dos dados na coluna estão ausentes.

In [9]:
# Verificando os dados ausetes da coluna 
df[df['VehicleType'].isna()]

,DateCrawled,Price,VehicleType,RegistrationYear,Gearbox,Power,Model,Mileage,RegistrationMonth,FuelType,Brand,NotRepaired,DateCreated,PostalCode,LastSeen
0,24/03/2016 11:52,480,NaN,1993,manual,0,golf,150000,0,petrol,volkswagen,NaN,24/03/2016 00:00,70435,07/04/2016 03:16
16,01/04/2016 12:46,300,NaN,2016,NaN,60,polo,150000,0,petrol,volkswagen,NaN,01/04/2016 00:00,38871,01/04/2016 12:46
22,23/03/2016 14:52,2900,NaN,2018,manual,90,meriva,150000,5,petrol,opel,no,23/03/2016 00:00,49716,31/03/2016 01:16
26,10/03/2016 19:38,5555,NaN,2017,manual,125,c4,125000,4,NaN,citroen,no,10/03/2016 00:00,31139,16/03/2016 09:16
31,29/03/2016 16:57,899,NaN,2016,manual,60,clio,150000,6,petrol,renault,NaN,29/03/2016 00:00,37075,29/03/2016 17:43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354346,07/03/2016 17:06,2600,NaN,2005,auto,0,c_klasse,150000,9,NaN,mercedes_benz,NaN,07/03/2016 00:00,61169,08/03/2016 21:28
354351,11/03/2016 23:40,1900,NaN,2000,manual,110,NaN,150000,7,NaN,volkswagen,no,11/03/2016 00:00,87700,12/03/2016 14:16
354361,09/03/2016 13:37,5250,NaN,2016,auto,150,159,150000,12,NaN,alfa_romeo,no,09/03/2016 00:00,51371,13/03/2016 01:44
354364,21/03/2016 09:50,0,NaN,2005,manual,0,colt,150000,7,petrol,mitsubishi,yes,21/03/2016 00:00,2694,21/03/2016 10:42
354365,14/03/2016 17:48,2200,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,14/03/2016 00:00,39576,06/04/2016 00:46

### Coluna Gearbox

In [10]:
df['Gearbox'].unique()

array(['manual', 'auto', nan], dtype=object)

In [11]:
df['Gearbox'].isna().sum()/len(df)

0.055967085156997366

Essa coluna tem 5% dos dados susentes em relação ao df.

### Coluna Model

In [12]:
df['Model'].unique()

array(['golf', nan, 'grand', 'fabia', '3er', '2_reihe', 'other', 'c_max',
       '3_reihe', 'passat', 'navara', 'ka', 'polo', 'twingo', 'a_klasse',
       'scirocco', '5er', 'meriva', 'arosa', 'c4', 'civic', 'transporter',
       'punto', 'e_klasse', 'clio', 'kadett', 'kangoo', 'corsa', 'one',
       'fortwo', '1er', 'b_klasse', 'signum', 'astra', 'a8', 'jetta',
       'fiesta', 'c_klasse', 'micra', 'vito', 'sprinter', '156', 'escort',
       'forester', 'xc_reihe', 'scenic', 'a4', 'a1', 'insignia', 'combo',
       'focus', 'tt', 'a6', 'jazz', 'omega', 'slk', '7er', '80', '147',
       '100', 'z_reihe', 'sportage', 'sorento', 'v40', 'ibiza', 'mustang',
       'eos', 'touran', 'getz', 'a3', 'almera', 'megane', 'lupo', 'r19',
       'zafira', 'caddy', 'mondeo', 'cordoba', 'colt', 'impreza',
       'vectra', 'berlingo', 'tiguan', 'i_reihe', 'espace', 'sharan',
       '6_reihe', 'panda', 'up', 'seicento', 'ceed', '5_reihe', 'yeti',
       'octavia', 'mii', 'rx_reihe', '6er', 'modus', 'fox', 'matiz',
       'beetle', 'c1', 'rio', 'touareg', 'logan', 'spider', 'cuore',
       's_max', 'a2', 'galaxy', 'c3', 'viano', 's_klasse', '1_reihe',
       'avensis', 'roomster', 'sl', 'kaefer', 'santa', 'cooper', 'leon',
       '4_reihe', 'a5', '500', 'laguna', 'ptcruiser', 'clk', 'primera',
       'x_reihe', 'exeo', '159', 'transit', 'juke', 'qashqai', 'carisma',
       'accord', 'corolla', 'lanos', 'phaeton', 'verso', 'swift', 'rav',
       'picanto', 'boxster', 'kalos', 'superb', 'stilo', 'alhambra',
       'mx_reihe', 'roadster', 'ypsilon', 'cayenne', 'galant', 'justy',
       '90', 'sirion', 'crossfire', 'agila', 'duster', 'cr_reihe', 'v50',
       'c_reihe', 'v_klasse', 'm_klasse', 'yaris', 'c5', 'aygo', 'cc',
       'carnival', 'fusion', '911', 'bora', 'forfour', 'm_reihe', 'cl',
       'tigra', '300c', 'spark', 'v70', 'kuga', 'x_type', 'ducato',
       's_type', 'x_trail', 'toledo', 'altea', 'voyager', 'calibra',
       'bravo', 'antara', 'tucson', 'citigo', 'jimny', 'wrangler',
       'lybra', 'q7', 'lancer', 'captiva', 'c2', 'discovery',
       'freelander', 'sandero', 'note', '900', 'cherokee', 'clubman',
       'samara', 'defender', '601', 'cx_reihe', 'legacy', 'pajero',
       'auris', 'niva', 's60', 'nubira', 'vivaro', 'g_klasse', 'lodgy',
       '850', 'range_rover', 'q3', 'serie_2', 'glk', 'charade', 'croma',
       'outlander', 'doblo', 'musa', 'move', '9000', 'v60', '145', 'aveo',
       '200', 'b_max', 'range_rover_sport', 'terios', 'rangerover', 'q5',
       'range_rover_evoque', 'materia', 'delta', 'gl', 'kalina', 'amarok',
       'elefantino', 'i3', 'kappa', 'serie_3', 'serie_1'], dtype=object)

In [13]:
df['Model'].isna().sum()/len(df)

0.055605879746817584

5% das linhas do df não possuem dados na coluna analisada.

In [14]:
# Fiz esse código para poder verificar se podemos preencher o tipo de veículo de acordo com o modelo
df.loc[df['Model'] == 'golf']

# Mas ficou entendível que o mesmo modelo pode ter diferentes tipo, por exemplo, o golf tem sedan, compacto e conversível

,DateCrawled,Price,VehicleType,RegistrationYear,Gearbox,Power,Model,Mileage,RegistrationMonth,FuelType,Brand,NotRepaired,DateCreated,PostalCode,LastSeen
0,24/03/2016 11:52,480,NaN,1993,manual,0,golf,150000,0,petrol,volkswagen,NaN,24/03/2016 00:00,70435,07/04/2016 03:16
3,17/03/2016 16:54,1500,small,2001,manual,75,golf,150000,6,petrol,volkswagen,no,17/03/2016 00:00,91074,17/03/2016 17:40
9,17/03/2016 10:53,999,small,1998,manual,101,golf,150000,0,NaN,volkswagen,NaN,17/03/2016 00:00,27472,31/03/2016 17:17
32,15/03/2016 20:59,245,sedan,1994,NaN,0,golf,150000,2,petrol,volkswagen,no,15/03/2016 00:00,44145,17/03/2016 18:17
35,08/03/2016 07:54,350,NaN,2016,manual,75,golf,150000,4,petrol,volkswagen,no,08/03/2016 00:00,19386,08/03/2016 09:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354315,29/03/2016 13:53,1300,convertible,1998,manual,90,golf,150000,4,petrol,volkswagen,no,29/03/2016 00:00,38518,31/03/2016 07:15
354320,19/03/2016 19:39,1500,sedan,1999,manual,75,golf,150000,4,petrol,volkswagen,NaN,19/03/2016 00:00,37339,07/04/2016 07:15
354348,20/03/2016 18:47,5900,sedan,2006,manual,105,golf,150000,9,gasoline,volkswagen,no,20/03/2016 00:00,1217,07/04/2016 02:44
354359,28/03/2016 13:48,7900,sedan,2010,manual,140,golf,150000,7,gasoline,volkswagen,no,28/03/2016 00:00,75223,02/04/2016 18:16
354368,20/03/2016 19:41,3400,wagon,2002,manual,100,golf,150000,6,gasoline,volkswagen,NaN,20/03/2016 00:00,40764,24/03/2016 12:45

### Coluna FuelType

In [15]:
df['FuelType'].unique()

array(['petrol', 'gasoline', nan, 'lpg', 'other', 'hybrid', 'cng',
       'electric'], dtype=object)

In [16]:
df['FuelType'].isna().sum()/len(df)

0.09282696849893755

9% das linhas do df não possuem dados na coluna analisada.

### Coluna NotRepaired

In [17]:
df['NotRepaired'].unique()

array([nan, 'yes', 'no'], dtype=object)

In [18]:
df['NotRepaired'].isna().sum()/len(df)

0.20079070121822168

20% das linhas do df não possuem dados na coluna analisada.

### Coluna Price

In [19]:
df[df['Price'] == 0]

,DateCrawled,Price,VehicleType,RegistrationYear,Gearbox,Power,Model,Mileage,RegistrationMonth,FuelType,Brand,NotRepaired,DateCreated,PostalCode,LastSeen
7,21/03/2016 18:54,0,sedan,1980,manual,50,other,40000,7,petrol,volkswagen,no,21/03/2016 00:00,19348,25/03/2016 16:47
40,26/03/2016 22:06,0,NaN,1990,NaN,0,corsa,150000,1,petrol,opel,NaN,26/03/2016 00:00,56412,27/03/2016 17:43
111,19/03/2016 18:40,0,NaN,2017,manual,0,golf,5000,12,petrol,volkswagen,NaN,19/03/2016 00:00,21698,01/04/2016 08:47
115,20/03/2016 18:53,0,small,1999,NaN,0,NaN,5000,0,petrol,volkswagen,NaN,20/03/2016 00:00,37520,07/04/2016 02:45
152,11/03/2016 18:55,0,bus,2004,manual,101,meriva,150000,10,lpg,opel,yes,11/03/2016 00:00,27432,12/03/2016 23:47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354205,09/03/2016 15:56,0,NaN,2000,manual,65,corsa,150000,0,NaN,opel,yes,09/03/2016 00:00,23758,30/03/2016 11:16
354238,20/03/2016 14:55,0,small,2002,manual,60,fiesta,150000,3,petrol,ford,NaN,20/03/2016 00:00,33659,06/04/2016 18:45
354248,24/03/2016 13:48,0,small,1999,manual,53,swift,150000,3,petrol,suzuki,NaN,24/03/2016 00:00,42329,07/04/2016 05:17
354277,10/03/2016 22:55,0,small,1999,manual,37,arosa,150000,7,petrol,seat,yes,10/03/2016 00:00,22559,12/03/2016 23:46
354364,21/03/2016 09:50,0,NaN,2005,manual,0,colt,150000,7,petrol,mitsubishi,yes,21/03/2016 00:00,2694,21/03/2016 10:42

In [20]:
len(df[df['Price'] == 0])/len(df)

0.030397692800442477

Apenas 3% das linhas do df estão com o valor zerado do veículo.

### Retirando os dados ausentes do df

In [21]:
#salvando a quantidade de linhas do df
qtde_df_antigo = len(df)
qtde_df_antigo

354369

In [22]:
#retirando dados ausentes
df.dropna(inplace=True)

In [23]:
# verificando o percentual de perda de dados
len(df)/qtde_df_antigo

0.6936667710776055

### Removendo duplicatas

In [24]:
df = df.drop_duplicates()

len(df)/qtde_df_antigo

0.6929697575126492

Pela variação da porcentagem, verificamos que existiam dados duplicados que foram retirados do df.

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 245567 entries, 3 to 354367
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DateCrawled        245567 non-null  object
 1   Price              245567 non-null  int64
 2   VehicleType        245567 non-null  object
 3   RegistrationYear   245567 non-null  int64
 4   Gearbox            245567 non-null  object
 5   Power              245567 non-null  int64
 6   Model              245567 non-null  object
 7   Mileage            245567 non-null  int64
 8   RegistrationMonth  245567 non-null  int64
 9   FuelType           245567 non-null  object
 10  Brand              245567 non-null  object
 11  NotRepaired        245567 non-null  object
 12  DateCreated        245567 non-null  object
 13  PostalCode         245567 non-null  int64
 14  LastSeen           245567 non-null  object
dtypes: int64(6), object(9)
memory usage: 30.0+ MB

Mesmo retirando 30% dos dados ainda temos mais de 250 mil linhas para poder trabalhar.

## Treinamento do modelo

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import lightgbm as lgb
import sklearn.preprocessing
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
import time

In [27]:
# Antes de treinar o modelo, vou utilizar a codificação de rótulos para as características 
le = LabelEncoder()
df_scaled = df.apply(le.fit_transform)

In [28]:
# Agora vou escalar os dados
feature_names = ['VehicleType', 'RegistrationYear', 'Gearbox', 'Power', 'Model', 'Mileage', 'FuelType', 'Brand', 'NotRepaired', 'RegistrationMonth']

transformer_mas = sklearn.preprocessing.MaxAbsScaler().fit(df_scaled[feature_names].to_numpy())

df_scaled = df_scaled.copy()
df_scaled.loc[:, feature_names] = transformer_mas.transform(df_scaled[feature_names].to_numpy())
df_scaled

,DateCrawled,Price,VehicleType,RegistrationYear,Gearbox,Power,Model,Mileage,RegistrationMonth,FuelType,Brand,NotRepaired,DateCreated,PostalCode,LastSeen
3,8037,579,0.714286,0.792683,1.0,0.139147,0.467742,1.000000,0.500000,1.000000,0.973684,0.0,58,6974,8815
4,14605,1146,0.714286,0.878049,1.0,0.128015,0.407258,0.750000,0.583333,0.333333,0.815789,0.0,102,4170,3398
5,1780,271,0.571429,0.719512,1.0,0.189239,0.044355,1.000000,0.833333,1.000000,0.052632,1.0,13,2341,3497
6,397,777,0.142857,0.829268,1.0,0.202226,0.032258,1.000000,0.666667,1.000000,0.657895,0.0,2,4593,2961
7,9936,0,0.571429,0.536585,1.0,0.092764,0.669355,0.333333,0.583333,1.000000,0.973684,0.0,72,1143,13145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354360,869,1249,1.000000,0.841463,1.0,0.005566,0.044355,1.000000,0.416667,0.333333,0.052632,0.0,6,5861,3518
354362,8995,1043,0.571429,0.829268,1.0,0.417440,0.564516,1.000000,0.416667,1.000000,0.789474,1.0,66,7719,9812
354363,12807,453,0.000000,0.780488,1.0,0.000000,1.000000,1.000000,0.250000,1.000000,0.631579,0.0,90,1832,15134
354366,2158,471,0.142857,0.780488,0.0,0.187384,0.427419,0.916667,0.250000,1.000000,0.842105,0.0,16,1794,5823
354367,8970,2225,0.000000,0.731707,1.0,0.189239,0.899194,1.000000,0.250000,0.333333,0.973684,0.0,66,6580,4010

### Divididndo os dados em treino e teste

In [29]:
# para o df
X = df.drop(['Price', 'DateCrawled', 'DateCreated', 'PostalCode', 'LastSeen'], axis = 1).to_numpy()
y = df['Price'].to_numpy()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=12345)

In [30]:
# para o df_scaled
X_scaled = df_scaled.drop(['Price', 'DateCrawled', 'DateCreated', 'PostalCode', 'LastSeen'], axis = 1).to_numpy()
y_scaled = df_scaled['Price'].to_numpy()
X_train_scaled, X_test_scaled, y_train_scaled, y_test_scaled = train_test_split(X_scaled, y_scaled, test_size=0.25, random_state=12345)

### Modelo LightGBM

In [31]:
from sklearn.model_selection import GridSearchCV
train_data_scaled = lgb.Dataset(X_train_scaled, label=y_train_scaled)
test_data_scaled = lgb.Dataset(X_test_scaled, label=y_test_scaled)

In [32]:
params = {
    'num_leaves': [31,100] ,
    'learning_rate' : [0.01, 0.05],
}

In [33]:
model_hip = lgb.LGBMRegressor()

# Realiza a busca em grade dos melhores hiperparâmetros
grid_search = GridSearchCV(model_hip, param_grid=params, cv=5)
grid_search.fit(X_train_scaled, y_train_scaled)

# Imprime os melhores hiperparâmetros encontrados
print(grid_search.best_params_)

{'learning_rate': 0.05, 'num_leaves': 100}

In [34]:
params_model = {
    'metric': 'rmse',
    'num_leaves' : 31,
    'learning_rate' : 0.05,
}

In [35]:
start_time = time.time()
model = lgb.train(params_model, train_data_scaled, valid_sets=[test_data_scaled], num_boost_round=1000, early_stopping_rounds=50)
end_time = time.time()
total_time_lbg = end_time - start_time

/opt/conda/lib/python3.9/site-packages/lightgbm/engine.py:181: UserWarning: 'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. Pass 'early_stopping()' callback via 'callbacks' argument instead.
  _log_warning("'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. "

[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.087674 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 657
[LightGBM] [Info] Number of data points in the train set: 184175, number of used features: 10
[LightGBM] [Info] Start training from score 1307.372928
[1]	valid_0's rmse: 856.209
Training until validation scores don't improve for 50 rounds
[2]	valid_0's rmse: 825.167
[3]	valid_0's rmse: 795.968
[4]	valid_0's rmse: 768.585
[5]	valid_0's rmse: 742.94
[6]	valid_0's rmse: 718.758
[7]	valid_0's rmse: 696.128
[8]	valid_0's rmse: 674.822
[9]	valid_0's rmse: 654.974
[10]	valid_0's rmse: 636.177
[11]	valid_0's rmse: 618.758
[12]	valid_0's rmse: 602.548
[13]	valid_0's rmse: 587.233
[14]	valid_0's rmse: 572.973
[15]	valid_0's rmse: 559.428
[16]	valid_0's rmse: 546.837
[17]	valid_0's rmse: 535.249
[18]	valid_0's rmse: 524.102
[19]	valid_0's rmse: 513.919
[20]	valid_0's rmse: 504.283
[21]	valid_0's rmse: 495.154
[22]	valid_0's rmse: 486.712
[23]	valid_0's rmse: 478.491
[24]	valid_0's rmse: 471.163
[25]	valid_0's rmse: 463.978
[26]	valid_0's rmse: 457.473
[27]	valid_0's rmse: 451.389
[28]	valid_0's rmse: 445.533
[29]	valid_0's rmse: 440.105
[30]	valid_0's rmse: 434.843
[31]	valid_0's rmse: 429.936
[32]	valid_0's rmse: 425.539
[33]	valid_0's rmse: 421.191
[34]	valid_0's rmse: 417.083
[35]	valid_0's rmse: 413.405
[36]	valid_0's rmse: 409.667
[37]	valid_0's rmse: 406.352
[38]	valid_0's rmse: 403.026
[39]	valid_0's rmse: 400.021
[40]	valid_0's rmse: 396.965
[41]	valid_0's rmse: 394.18
[42]	valid_0's rmse: 391.592
[43]	valid_0's rmse: 389.052
[44]	valid_0's rmse: 386.706
[45]	valid_0's rmse: 384.3
[46]	valid_0's rmse: 381.969
[47]	valid_0's rmse: 379.938
[48]	valid_0's rmse: 377.953
[49]	valid_0's rmse: 376.154
[50]	valid_0's rmse: 374.332
[51]	valid_0's rmse: 372.759
[52]	valid_0's rmse: 371.193
[53]	valid_0's rmse: 369.72
[54]	valid_0's rmse: 368.171
[55]	valid_0's rmse: 366.735
[56]	valid_0's rmse: 365.35
[57]	valid_0's rmse: 364.004
[58]	valid_0's rmse: 362.852
[59]	valid_0's rmse: 361.693
[60]	valid_0's rmse: 360.571
[61]	valid_0's rmse: 359.575
[62]	valid_0's rmse: 358.463
[63]	valid_0's rmse: 357.462
[64]	valid_0's rmse: 356.443
[65]	valid_0's rmse: 355.588
[66]	valid_0's rmse: 354.709
[67]	valid_0's rmse: 353.686
[68]	valid_0's rmse: 352.799
[69]	valid_0's rmse: 352.054
[70]	valid_0's rmse: 351.322
[71]	valid_0's rmse: 350.662
[72]	valid_0's rmse: 349.859
[73]	valid_0's rmse: 349.213
[74]	valid_0's rmse: 348.58
[75]	valid_0's rmse: 348.005
[76]	valid_0's rmse: 347.359
[77]	valid_0's rmse: 346.878
[78]	valid_0's rmse: 346.346
[79]	valid_0's rmse: 345.588
[80]	valid_0's rmse: 345.165
[81]	valid_0's rmse: 344.69
[82]	valid_0's rmse: 344.137
[83]	valid_0's rmse: 343.712
[84]	valid_0's rmse: 343.017
[85]	valid_0's rmse: 342.438
[86]	valid_0's rmse: 341.851
[87]	valid_0's rmse: 341.46
[88]	valid_0's rmse: 341.111
[89]	valid_0's rmse: 340.663
[90]	valid_0's rmse: 340.141
[91]	valid_0's rmse: 339.627
[92]	valid_0's rmse: 339.225
[93]	valid_0's rmse: 338.852
[94]	valid_0's rmse: 338.565
[95]	valid_0's rmse: 338.102
[96]	valid_0's rmse: 337.788
[97]	valid_0's rmse: 337.492
[98]	valid_0's rmse: 337.055
[99]	valid_0's rmse: 336.649
[100]	valid_0's rmse: 336.318
[101]	valid_0's rmse: 335.952
[102]	valid_0's rmse: 335.642
[103]	valid_0's rmse: 335.338
[104]	valid_0's rmse: 335.142
[105]	valid_0's rmse: 334.776
[106]	valid_0's rmse: 334.587
[107]	valid_0's rmse: 334.351
[108]	valid_0's rmse: 334.046
[109]	valid_0's rmse: 333.771
[110]	valid_0's rmse: 333.524
[111]	valid_0's rmse: 333.329
[112]	valid_0's rmse: 333.08
[113]	valid_0's rmse: 332.852
[114]	valid_0's rmse: 332.713
[115]	valid_0's rmse: 332.491
[116]	valid_0's rmse: 332.202
[117]	valid_0's rmse: 331.935
[118]	valid_0's rmse: 331.752
[119]	valid_0's rmse: 331.522
[120]	valid_0's rmse: 331.281
[121]	valid_0's rmse: 331.147
[122]	valid_0's rmse: 331.02
[123]	valid_0's rmse: 330.779
[124]	valid_0's rmse: 330.588
[125]	valid_0's rmse: 330.406
[126]	valid_0's rmse: 330.172
[127]	valid_0's rmse: 329.997
[128]	valid_0's rmse: 329.85
[129]	valid_0's rmse: 329.648
[130]	valid_0's rmse: 329.502
[131]	valid_0's rmse: 329.398
[132]	valid_0's rmse: 329.28
[133]	valid_0's rmse: 329.043
[134]	valid_0's rmse: 328.894
[135]	valid_0's rmse: 328.67
[136]	valid_0's rmse: 328.459
[137]	valid_0's rmse: 328.289
[138]	valid_0's rmse: 328.186
[139]	valid_0's rmse: 327.987
[140]	valid_0's rmse: 327.791
[141]	valid_0's rmse: 327.624
[142]	valid_0's rmse: 327.532
[143]	valid_0's rmse: 327.411
[144]	valid_0's rmse: 327.256
[145]	valid_0's rmse: 327.091
[146]	valid_0's rmse: 327.01
[147]	valid_0's rmse: 326.874
[148]	valid_0's rmse: 326.738
[149]	valid_0's rmse: 326.596
[150]	valid_0's rmse: 326.472
[151]	valid_0's rmse: 326.408
[152]	valid_0's rmse: 326.293
[153]	valid_0's rmse: 326.126
[154]	valid_0's rmse: 325.99
[155]	valid_0's rmse: 325.899
[156]	valid_0's rmse: 325.755
[157]	valid_0's rmse: 325.667
[158]	valid_0's rmse: 325.528
[159]	valid_0's rmse: 325.442
[160]	valid_0's rmse: 325.348
[161]	valid_0's rmse: 325.219
[162]	valid_0's rmse: 325.08
[163]	valid_0's rmse: 324.984
[164]	valid_0's rmse: 324.833
[165]	valid_0's rmse: 324.757
[166]	valid_0's rmse: 324.692
[167]	valid_0's rmse: 324.633
[168]	valid_0's rmse: 324.581
[169]	valid_0's rmse: 324.492
[170]	valid_0's rmse: 324.343
[171]	valid_0's rmse: 324.251
[172]	valid_0's rmse: 324.205
[173]	valid_0's rmse: 324.058
[174]	valid_0's rmse: 323.96
[175]	valid_0's rmse: 323.89
[176]	valid_0's rmse: 323.759
[177]	valid_0's rmse: 323.7
[178]	valid_0's rmse: 323.65
[179]	valid_0's rmse: 323.537
[180]	valid_0's rmse: 323.432
[181]	valid_0's rmse: 323.366
[182]	valid_0's rmse: 323.25
[183]	valid_0's rmse: 323.179
[184]	valid_0's rmse: 323.11
[185]	valid_0's rmse: 323.014
[186]	valid_0's rmse: 322.885
[187]	valid_0's rmse: 322.832
[188]	valid_0's rmse: 322.776
[189]	valid_0's rmse: 322.677
[190]	valid_0's rmse: 322.625
[191]	valid_0's rmse: 322.564
[192]	valid_0's rmse: 322.506
[193]	valid_0's rmse: 322.431
[194]	valid_0's rmse: 322.292
[195]	valid_0's rmse: 322.189
[196]	valid_0's rmse: 322.161
[197]	valid_0's rmse: 322.055
[198]	valid_0's rmse: 322.003
[199]	valid_0's rmse: 321.925
[200]	valid_0's rmse: 321.836
[201]	valid_0's rmse: 321.726
[202]	valid_0's rmse: 321.641
[203]	valid_0's rmse: 321.538
[204]	valid_0's rmse: 321.418
[205]	valid_0's rmse: 321.291
[206]	valid_0's rmse: 321.25
[207]	valid_0's rmse: 321.167
[208]	valid_0's rmse: 321.056
[209]	valid_0's rmse: 320.978
[210]	valid_0's rmse: 320.881
[211]	valid_0's rmse: 320.807
[212]	valid_0's rmse: 320.736
[213]	valid_0's rmse: 320.669
[214]	valid_0's rmse: 320.582
[215]	valid_0's rmse: 320.487
[216]	valid_0's rmse: 320.41
[217]	valid_0's rmse: 320.3
[218]	valid_0's rmse: 320.213
[219]	valid_0's rmse: 320.13
[220]	valid_0's rmse: 320.049
[221]	valid_0's rmse: 319.964
[222]	valid_0's rmse: 319.88
[223]	valid_0's rmse: 319.853
[224]	valid_0's rmse: 319.769
[225]	valid_0's rmse: 319.702
[226]	valid_0's rmse: 319.639
[227]	valid_0's rmse: 319.584
[228]	valid_0's rmse: 319.541
[229]	valid_0's rmse: 319.497
[230]	valid_0's rmse: 319.433
[231]	valid_0's rmse: 319.373
[232]	valid_0's rmse: 319.303
[233]	valid_0's rmse: 319.258
[234]	valid_0's rmse: 319.232
[235]	valid_0's rmse: 319.206
[236]	valid_0's rmse: 319.125
[237]	valid_0's rmse: 319.073
[238]	valid_0's rmse: 319.02
[239]	valid_0's rmse: 318.973
[240]	valid_0's rmse: 318.904
[241]	valid_0's rmse: 318.82
[242]	valid_0's rmse: 318.778
[243]	valid_0's rmse: 318.704
[244]	valid_0's rmse: 318.672
[245]	valid_0's rmse: 318.635
[246]	valid_0's rmse: 318.567
[247]	valid_0's rmse: 318.527
[248]	valid_0's rmse: 318.459
[249]	valid_0's rmse: 318.43
[250]	valid_0's rmse: 318.405
[251]	valid_0's rmse: 318.375
[252]	valid_0's rmse: 318.293
[253]	valid_0's rmse: 318.225
[254]	valid_0's rmse: 318.133
[255]	valid_0's rmse: 318.013
[256]	valid_0's rmse: 317.958
[257]	valid_0's rmse: 317.932
[258]	valid_0's rmse: 317.876
[259]	valid_0's rmse: 317.815
[260]	valid_0's rmse: 317.765
[261]	valid_0's rmse: 317.694
[262]	valid_0's rmse: 317.634
[263]	valid_0's rmse: 317.575
[264]	valid_0's rmse: 317.486
[265]	valid_0's rmse: 317.436
[266]	valid_0's rmse: 317.363
[267]	valid_0's rmse: 317.276
[268]	valid_0's rmse: 317.267
[269]	valid_0's rmse: 317.189
[270]	valid_0's rmse: 317.07
[271]	valid_0's rmse: 317.027
[272]	valid_0's rmse: 316.967
[273]	valid_0's rmse: 316.861
[274]	valid_0's rmse: 316.795
[275]	valid_0's rmse: 316.762
[276]	valid_0's rmse: 316.717
[277]	valid_0's rmse: 316.669
[278]	valid_0's rmse: 316.566
[279]	valid_0's rmse: 316.493
[280]	valid_0's rmse: 316.468
[281]	valid_0's rmse: 316.427
[282]	valid_0's rmse: 316.349
[283]	valid_0's rmse: 316.329
[284]	valid_0's rmse: 316.271
[285]	valid_0's rmse: 316.251
[286]	valid_0's rmse: 316.195
[287]	valid_0's rmse: 316.154
[288]	valid_0's rmse: 316.119
[289]	valid_0's rmse: 316.085
[290]	valid_0's rmse: 316.057
[291]	valid_0's rmse: 316.002
[292]	valid_0's rmse: 315.984
[293]	valid_0's rmse: 315.941
[294]	valid_0's rmse: 315.893
[295]	valid_0's rmse: 315.85
[296]	valid_0's rmse: 315.814
[297]	valid_0's rmse: 315.766
[298]	valid_0's rmse: 315.691
[299]	valid_0's rmse: 315.679
[300]	valid_0's rmse: 315.651
[301]	valid_0's rmse: 315.59
[302]	valid_0's rmse: 315.514
[303]	valid_0's rmse: 315.478
[304]	valid_0's rmse: 315.456
[305]	valid_0's rmse: 315.41
[306]	valid_0's rmse: 315.376
[307]	valid_0's rmse: 315.334
[308]	valid_0's rmse: 315.283
[309]	valid_0's rmse: 315.263
[310]	valid_0's rmse: 315.233
[311]	valid_0's rmse: 315.208
[312]	valid_0's rmse: 315.178
[313]	valid_0's rmse: 315.154
[314]	valid_0's rmse: 315.126
[315]	valid_0's rmse: 315.068
[316]	valid_0's rmse: 315.022
[317]	valid_0's rmse: 314.97
[318]	valid_0's rmse: 314.949
[319]	valid_0's rmse: 314.936
[320]	valid_0's rmse: 314.898
[321]	valid_0's rmse: 314.867
[322]	valid_0's rmse: 314.803
[323]	valid_0's rmse: 314.783
[324]	valid_0's rmse: 314.759
[325]	valid_0's rmse: 314.743
[326]	valid_0's rmse: 314.671
[327]	valid_0's rmse: 314.629
[328]	valid_0's rmse: 314.62
[329]	valid_0's rmse: 314.589
[330]	valid_0's rmse: 314.558
[331]	valid_0's rmse: 314.541
[332]	valid_0's rmse: 314.48
[333]	valid_0's rmse: 314.427
[334]	valid_0's rmse: 314.407
[335]	valid_0's rmse: 314.372
[336]	valid_0's rmse: 314.351
[337]	valid_0's rmse: 314.34
[338]	valid_0's rmse: 314.332
[339]	valid_0's rmse: 314.287
[340]	valid_0's rmse: 314.263
[341]	valid_0's rmse: 314.204
[342]	valid_0's rmse: 314.173
[343]	valid_0's rmse: 314.154
[344]	valid_0's rmse: 314.126
[345]	valid_0's rmse: 314.084
[346]	valid_0's rmse: 314.018
[347]	valid_0's rmse: 313.99
[348]	valid_0's rmse: 313.973
[349]	valid_0's rmse: 313.945
[350]	valid_0's rmse: 313.874
[351]	valid_0's rmse: 313.85
[352]	valid_0's rmse: 313.801
[353]	valid_0's rmse: 313.746
[354]	valid_0's rmse: 313.692
[355]	valid_0's rmse: 313.65
[356]	valid_0's rmse: 313.61
[357]	valid_0's rmse: 313.579
[358]	valid_0's rmse: 313.545
[359]	valid_0's rmse: 313.55
[360]	valid_0's rmse: 313.521
[361]	valid_0's rmse: 313.482
[362]	valid_0's rmse: 313.416
[363]	valid_0's rmse: 313.368
[364]	valid_0's rmse: 313.344
[365]	valid_0's rmse: 313.259
[366]	valid_0's rmse: 313.239
[367]	valid_0's rmse: 313.192
[368]	valid_0's rmse: 313.169
[369]	valid_0's rmse: 313.148
[370]	valid_0's rmse: 313.134
[371]	valid_0's rmse: 313.09
[372]	valid_0's rmse: 313.069
[373]	valid_0's rmse: 313.022
[374]	valid_0's rmse: 313.002
[375]	valid_0's rmse: 312.957
[376]	valid_0's rmse: 312.94
[377]	valid_0's rmse: 312.918
[378]	valid_0's rmse: 312.87
[379]	valid_0's rmse: 312.824
[380]	valid_0's rmse: 312.794
[381]	valid_0's rmse: 312.756
[382]	valid_0's rmse: 312.73
[383]	valid_0's rmse: 312.709
[384]	valid_0's rmse: 312.694
[385]	valid_0's rmse: 312.669
[386]	valid_0's rmse: 312.596
[387]	valid_0's rmse: 312.552
[388]	valid_0's rmse: 312.508
[389]	valid_0's rmse: 312.485
[390]	valid_0's rmse: 312.446
[391]	valid_0's rmse: 312.438
[392]	valid_0's rmse: 312.425
[393]	valid_0's rmse: 312.383
[394]	valid_0's rmse: 312.373
[395]	valid_0's rmse: 312.346
[396]	valid_0's rmse: 312.328
[397]	valid_0's rmse: 312.312
[398]	valid_0's rmse: 312.254
[399]	valid_0's rmse: 312.22
[400]	valid_0's rmse: 312.191
[401]	valid_0's rmse: 312.164
[402]	valid_0's rmse: 312.14
[403]	valid_0's rmse: 312.122
[404]	valid_0's rmse: 312.061
[405]	valid_0's rmse: 312.055
[406]	valid_0's rmse: 312.034
[407]	valid_0's rmse: 312.021
[408]	valid_0's rmse: 311.992
[409]	valid_0's rmse: 311.981
[410]	valid_0's rmse: 311.943
[411]	valid_0's rmse: 311.92
[412]	valid_0's rmse: 311.903
[413]	valid_0's rmse: 311.879
[414]	valid_0's rmse: 311.839
[415]	valid_0's rmse: 311.803
[416]	valid_0's rmse: 311.781
[417]	valid_0's rmse: 311.749
[418]	valid_0's rmse: 311.733
[419]	valid_0's rmse: 311.729
[420]	valid_0's rmse: 311.716
[421]	valid_0's rmse: 311.706
[422]	valid_0's rmse: 311.681
[423]	valid_0's rmse: 311.658
[424]	valid_0's rmse: 311.625
[425]	valid_0's rmse: 311.593
[426]	valid_0's rmse: 311.583
[427]	valid_0's rmse: 311.573
[428]	valid_0's rmse: 311.561
[429]	valid_0's rmse: 311.519
[430]	valid_0's rmse: 311.476
[431]	valid_0's rmse: 311.427
[432]	valid_0's rmse: 311.415
[433]	valid_0's rmse: 311.381
[434]	valid_0's rmse: 311.352
[435]	valid_0's rmse: 311.333
[436]	valid_0's rmse: 311.298
[437]	valid_0's rmse: 311.286
[438]	valid_0's rmse: 311.238
[439]	valid_0's rmse: 311.192
[440]	valid_0's rmse: 311.185
[441]	valid_0's rmse: 311.17
[442]	valid_0's rmse: 311.156
[443]	valid_0's rmse: 311.136
[444]	valid_0's rmse: 311.119
[445]	valid_0's rmse: 311.101
[446]	valid_0's rmse: 311.066
[447]	valid_0's rmse: 311.045
[448]	valid_0's rmse: 311.008
[449]	valid_0's rmse: 310.979
[450]	valid_0's rmse: 310.942
[451]	valid_0's rmse: 310.921
[452]	valid_0's rmse: 310.887
[453]	valid_0's rmse: 310.875
[454]	valid_0's rmse: 310.867
[455]	valid_0's rmse: 310.86
[456]	valid_0's rmse: 310.831
[457]	valid_0's rmse: 310.808
[458]	valid_0's rmse: 310.776
[459]	valid_0's rmse: 310.767
[460]	valid_0's rmse: 310.741
[461]	valid_0's rmse: 310.717
[462]	valid_0's rmse: 310.702
[463]	valid_0's rmse: 310.656
[464]	valid_0's rmse: 310.645
[465]	valid_0's rmse: 310.596
[466]	valid_0's rmse: 310.584
[467]	valid_0's rmse: 310.555
[468]	valid_0's rmse: 310.529
[469]	valid_0's rmse: 310.5
[470]	valid_0's rmse: 310.489
[471]	valid_0's rmse: 310.448
[472]	valid_0's rmse: 310.432
[473]	valid_0's rmse: 310.418
[474]	valid_0's rmse: 310.371
[475]	valid_0's rmse: 310.332
[476]	valid_0's rmse: 310.306
[477]	valid_0's rmse: 310.276
[478]	valid_0's rmse: 310.244
[479]	valid_0's rmse: 310.228
[480]	valid_0's rmse: 310.217
[481]	valid_0's rmse: 310.2
[482]	valid_0's rmse: 310.184
[483]	valid_0's rmse: 310.144
[484]	valid_0's rmse: 310.118
[485]	valid_0's rmse: 310.113
[486]	valid_0's rmse: 310.08
[487]	valid_0's rmse: 310.059
[488]	valid_0's rmse: 309.998
[489]	valid_0's rmse: 309.974
[490]	valid_0's rmse: 309.962
[491]	valid_0's rmse: 309.924
[492]	valid_0's rmse: 309.905
[493]	valid_0's rmse: 309.876
[494]	valid_0's rmse: 309.839
[495]	valid_0's rmse: 309.827
[496]	valid_0's rmse: 309.787
[497]	valid_0's rmse: 309.749
[498]	valid_0's rmse: 309.723
[499]	valid_0's rmse: 309.692
[500]	valid_0's rmse: 309.673
[501]	valid_0's rmse: 309.632
[502]	valid_0's rmse: 309.628
[503]	valid_0's rmse: 309.618
[504]	valid_0's rmse: 309.596
[505]	valid_0's rmse: 309.573
[506]	valid_0's rmse: 309.551
[507]	valid_0's rmse: 309.534
[508]	valid_0's rmse: 309.488
[509]	valid_0's rmse: 309.448
[510]	valid_0's rmse: 309.404
[511]	valid_0's rmse: 309.374
[512]	valid_0's rmse: 309.366
[513]	valid_0's rmse: 309.36
[514]	valid_0's rmse: 309.344
[515]	valid_0's rmse: 309.313
[516]	valid_0's rmse: 309.282
[517]	valid_0's rmse: 309.248
[518]	valid_0's rmse: 309.25
[519]	valid_0's rmse: 309.25
[520]	valid_0's rmse: 309.239
[521]	valid_0's rmse: 309.216
[522]	valid_0's rmse: 309.184
[523]	valid_0's rmse: 309.164
[524]	valid_0's rmse: 309.149
[525]	valid_0's rmse: 309.14
[526]	valid_0's rmse: 309.107
[527]	valid_0's rmse: 309.093
[528]	valid_0's rmse: 309.066
[529]	valid_0's rmse: 309.043
[530]	valid_0's rmse: 309.016
[531]	valid_0's rmse: 308.991
[532]	valid_0's rmse: 308.977
[533]	valid_0's rmse: 308.97
[534]	valid_0's rmse: 308.957
[535]	valid_0's rmse: 308.939
[536]	valid_0's rmse: 308.935
[537]	valid_0's rmse: 308.922
[538]	valid_0's rmse: 308.922
[539]	valid_0's rmse: 308.925
[540]	valid_0's rmse: 308.917
[541]	valid_0's rmse: 308.904
[542]	valid_0's rmse: 308.885
[543]	valid_0's rmse: 308.861
[544]	valid_0's rmse: 308.851
[545]	valid_0's rmse: 308.821
[546]	valid_0's rmse: 308.789
[547]	valid_0's rmse: 308.771
[548]	valid_0's rmse: 308.768
[549]	valid_0's rmse: 308.751
[550]	valid_0's rmse: 308.731
[551]	valid_0's rmse: 308.707
[552]	valid_0's rmse: 308.695
[553]	valid_0's rmse: 308.676
[554]	valid_0's rmse: 308.642
[555]	valid_0's rmse: 308.625
[556]	valid_0's rmse: 308.621
[557]	valid_0's rmse: 308.61
[558]	valid_0's rmse: 308.585
[559]	valid_0's rmse: 308.553
[560]	valid_0's rmse: 308.526
[561]	valid_0's rmse: 308.516
[562]	valid_0's rmse: 308.513
[563]	valid_0's rmse: 308.488
[564]	valid_0's rmse: 308.475
[565]	valid_0's rmse: 308.46
[566]	valid_0's rmse: 308.443
[567]	valid_0's rmse: 308.434
[568]	valid_0's rmse: 308.415
[569]	valid_0's rmse: 308.406
[570]	valid_0's rmse: 308.395
[571]	valid_0's rmse: 308.361
[572]	valid_0's rmse: 308.353
[573]	valid_0's rmse: 308.327
[574]	valid_0's rmse: 308.31
[575]	valid_0's rmse: 308.317
[576]	valid_0's rmse: 308.308
[577]	valid_0's rmse: 308.305
[578]	valid_0's rmse: 308.286
[579]	valid_0's rmse: 308.26
[580]	valid_0's rmse: 308.238
[581]	valid_0's rmse: 308.224
[582]	valid_0's rmse: 308.19
[583]	valid_0's rmse: 308.186
[584]	valid_0's rmse: 308.167
[585]	valid_0's rmse: 308.161
[586]	valid_0's rmse: 308.14
[587]	valid_0's rmse: 308.125
[588]	valid_0's rmse: 308.096
[589]	valid_0's rmse: 308.079
[590]	valid_0's rmse: 308.069
[591]	valid_0's rmse: 308.065
[592]	valid_0's rmse: 308.063
[593]	valid_0's rmse: 308.056
[594]	valid_0's rmse: 308.032
[595]	valid_0's rmse: 308.025
[596]	valid_0's rmse: 308.021
[597]	valid_0's rmse: 308.018
[598]	valid_0's rmse: 308
[599]	valid_0's rmse: 307.977
[600]	valid_0's rmse: 307.943
[601]	valid_0's rmse: 307.929
[602]	valid_0's rmse: 307.923
[603]	valid_0's rmse: 307.922
[604]	valid_0's rmse: 307.899
[605]	valid_0's rmse: 307.877
[606]	valid_0's rmse: 307.869
[607]	valid_0's rmse: 307.859
[608]	valid_0's rmse: 307.843
[609]	valid_0's rmse: 307.832
[610]	valid_0's rmse: 307.83
[611]	valid_0's rmse: 307.832
[612]	valid_0's rmse: 307.801
[613]	valid_0's rmse: 307.787
[614]	valid_0's rmse: 307.776
[615]	valid_0's rmse: 307.769
[616]	valid_0's rmse: 307.74
[617]	valid_0's rmse: 307.732
[618]	valid_0's rmse: 307.733
[619]	valid_0's rmse: 307.715
[620]	valid_0's rmse: 307.687
[621]	valid_0's rmse: 307.67
[622]	valid_0's rmse: 307.659
[623]	valid_0's rmse: 307.646
[624]	valid_0's rmse: 307.628
[625]	valid_0's rmse: 307.616
[626]	valid_0's rmse: 307.618
[627]	valid_0's rmse: 307.607
[628]	valid_0's rmse: 307.594
[629]	valid_0's rmse: 307.591
[630]	valid_0's rmse: 307.589
[631]	valid_0's rmse: 307.557
[632]	valid_0's rmse: 307.544
[633]	valid_0's rmse: 307.513
[634]	valid_0's rmse: 307.495
[635]	valid_0's rmse: 307.475
[636]	valid_0's rmse: 307.465
[637]	valid_0's rmse: 307.437
[638]	valid_0's rmse: 307.422
[639]	valid_0's rmse: 307.409
[640]	valid_0's rmse: 307.393
[641]	valid_0's rmse: 307.376
[642]	valid_0's rmse: 307.371
[643]	valid_0's rmse: 307.366
[644]	valid_0's rmse: 307.343
[645]	valid_0's rmse: 307.336
[646]	valid_0's rmse: 307.343
[647]	valid_0's rmse: 307.32
[648]	valid_0's rmse: 307.298
[649]	valid_0's rmse: 307.271
[650]	valid_0's rmse: 307.247
[651]	valid_0's rmse: 307.251
[652]	valid_0's rmse: 307.23
[653]	valid_0's rmse: 307.223
[654]	valid_0's rmse: 307.221
[655]	valid_0's rmse: 307.2
[656]	valid_0's rmse: 307.202
[657]	valid_0's rmse: 307.191
[658]	valid_0's rmse: 307.184
[659]	valid_0's rmse: 307.171

In [36]:
y_pred_gbm = model.predict(X_test_scaled)

In [37]:
rmse_gbm = mean_squared_error(y_test_scaled, y_pred_gbm, squared=False)
rmse_gbm

303.703017466654

### Modelo Floresta Aleatória

In [39]:
# Calibrando os hiperparâmetros
rf_model = RandomForestRegressor()

param_grid = {
    'n_estimators': [5, 10, 15], 
    'max_depth': [1, 5, 10]
}

In [40]:
rf_grid = GridSearchCV(rf_model, param_grid, cv=5)
rf_grid.fit(X_train_scaled, y_train_scaled)

GridSearchCV(cv=5, estimator=RandomForestRegressor(),
             param_grid={'max_depth': [1, 5, 10], 'n_estimators': [5, 10, 15]})

In [41]:
print('Melhores hiperparâmetros: ', rf_grid.best_params_)
print('Melhor pontuação: ', rf_grid.best_score_)

Melhores hiperparâmetros:  {'max_depth': 10, 'n_estimators': 15}
Melhor pontuação:  0.8385037268745028

In [42]:
# Treinando o modelo
rf = RandomForestRegressor(max_depth = None, n_estimators=20, random_state=12345)
start_time = time.time()

rf.fit(X_train_scaled, y_train_scaled)
end_time = time.time()
total_time_rf = end_time - start_time

In [43]:
y_pred_rf = rf.predict(X_test_scaled)

In [44]:
rmse_rf = mean_squared_error(y_test_scaled, y_pred_rf, squared=False)
rmse_rf

316.2392377891549

In [45]:
print("Tempo total de execução: {:.2f} segundos".format(total_time_rf))

Tempo total de execução: 13.97 segundos

### Árvore de Decisão

In [46]:
from sklearn.tree import DecisionTreeRegressor

In [47]:
dtr = DecisionTreeRegressor()

In [48]:
param_grid = {
    'max_depth': [2, 4, 6, 8, 10],
    'min_samples_split': [2, 4, 6, 8, 10]
}

In [49]:
grid_search = GridSearchCV(dtr, param_grid, cv=5)
grid_search.fit(X_train_scaled, y_train_scaled)

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(),
             param_grid={'max_depth': [2, 4, 6, 8, 10],
                         'min_samples_split': [2, 4, 6, 8, 10]})

In [50]:
print('Melhores hiperparâmetros:', grid_search.best_params_)
print('Melhor pontuação:', grid_search.best_score_)

Melhores hiperparâmetros: {'max_depth': 10, 'min_samples_split': 10}
Melhor pontuação: 0.8205050353854748

In [51]:
# Treinando o modelo
dtr = DecisionTreeRegressor(max_depth = 10, min_samples_split = 10, random_state=12345)

start_time = time.time()
dtr.fit(X_train_scaled, y_train_scaled)
end_time = time.time()
total_time_dtr = end_time - start_time

In [52]:
y_pred_dtr = dtr.predict(X_test_scaled)

In [53]:
rmse_dtr = mean_squared_error(y_test_scaled, y_pred_dtr, squared=False)
rmse_dtr

374.96730843176863

In [54]:
print("Tempo total de execução: {:.2f} segundos".format(total_time_dtr))

Tempo total de execução: 0.53 segundos

### Modelo Regressão Linear

In [55]:
rl = LinearRegression()

start_time = time.time()
rl.fit(X_train_scaled, y_train_scaled)
end_time = time.time()
total_time_rl = end_time - start_time

In [56]:
y_pred_rl = rl.predict(X_test_scaled)

In [57]:
rmse_rl = mean_squared_error(y_test_scaled, y_pred_rl, squared=False)
rmse_rl

543.5695276234729

In [58]:
print("Tempo total de execução: {:.2f} segundos".format(total_time_rl))

Tempo total de execução: 0.09 segundos

## Análise do modelo

Para este projeto usamos os modelos de lightGBM, Floresta Aleatória, Árvore de Decisão e Regressão Linear para decidir qual o melhor modelo para nosso conjunto de dados. Testamos diferentes parâmetros no modelo lightGBM que variaram muito o tempo de execução do mesmo, por isso deixei o que está no projeto. Além de medir o tempo de execução de cada modelo avaliamos todos eles pelo REQM, e por isso, podemos escolher o modelo lightGBM como o melhor para essa tarefa, por mais que ele tenha o maior tempo de execução é acetável.